name: build and deploy backend

on:
  push:
    branches: ["main"]
    paths: ["backend/**"]

  workflow_dispatch:

jobs:
  list-directory:
    runs-on: ubuntu-latest

    steps:
        - name: Print the input name to STDOUT
          run: echo ls
  push-to-registry:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Azure Container Registry Login
        uses: Azure/docker-login@v1
        with:
          login-server: contoso.azurecr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - run: docker build . -t contoso.azurecr.io/k8sdemo:${{ github.sha }} && docker push contoso.azurecr.io/k8sdemo:${{ github.sha }}